/**** Imports (Fonts, etc.) ****/
@import url(http://fonts.googleapis.com/css?family=Condiment|Droid+Sans:400,700|Roboto:400italic,700italic,700,400);

/************* General ***************/

html {

}

body {
	margin:0 0 0 0;
	font-family:Roboto, Arial;	
}

a {
	color: #4B60F0;
	text-decoration: none;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

@font-face {
  font-family: "Glyphs";
  src: url(../font/glyphicons-halflings-regular.woff) format("truetype");
}

.glyph-search:before {
	font-family: "Glyphs";
	content: "\e003";
}

.glyph-cog:before {
	font-family: "Glyphs";
	content: "\e019";
}
img {
	width: 100%;
	height: 100%;
}

html h1 {
	font-size: 2em;
	font-weight: 700;
}


/************* General Form ***************/
form {
	width: 60%;
}

form .input-wrapper {
	width: 100%;
	margin-bottom: 2em;
}

form, form input, form select {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 60%;
}



form label, form input, form select {
    display: inline-block;
}

form input, form select {
	border-radius: 5px;
	padding: 1em;
	height: 7em;
}

form select {
	overflow: hidden;
	border-radius: 5px;
}

form label {
	width: 20%;
	vertical-align: top;
	padding: 0.7em;
}

form input {
	height: 3em;
	padding: 1em;
}

.button {
	border-radius: 5px;
}


/*form label {
	width: 200px;
	float: left;
}

form input {
	width: 400px;
	margin-left: 200px; 
}*/



/************* SiteHeader ***************/

#header {
	width: 100%;
	box-shadow:0 0 5px 2px #c0c0c0;
	height:120px;
}

.logo {
	display: inline-block;
	margin: 43px 0 0 2%;
	float: left;
}

.logo a {
	font-family: Condiment, Arial;
	font-size: 3em;
	transform: rotate(-30deg);
	display:inline-block;
	color:#f08a4a;
}

.dynamic {
	margin-left: 16em;
	position: relative;
}


.search {
	width: 80%;
	float: left;
	margin-top:10px;
}

.searchbutton {
	left: -3.3em;
	top: 0.2em;
	position: relative;
	cursor: pointer;
	padding: 1em;
}

.searchfield {
	margin: 2em 0 0 10%;
	width: 80%;
	height: 3em;
	border:1px solid #000;
	border-radius:3px;
	
}

.navigation {
	padding: 1em;
	font-size:30px;
	float: right;
	margin-top:8px;
}



.navigation ul {

}

.navigation li {
	
}


/************* Subnavigation ***************/

#subnavigation {
	width: 16em;
	float: left;
	color:#555;
}

#subnavigation > span {
	line-height:3em;
	font-size:1.2em;
	padding:0 0 0 10px;
	font-weight:bold;
}

#subnavigation ul {
	border-top: 1px solid #ddd;
}

#subnavigation ul li {
	border-bottom: 1px solid #ddd;
	line-height:3em;	
	font-weight: 700;
	cursor: pointer;
}

#subnavigation ul li span {
	line-height:3em;
	padding-left:10%;
	display:inline-block;
	width:90%;
}

#subnavigation ul li li {
	margin-left:10%;
	font-weight:normal;
}

#subnavigation ul li li:last-child {
	border:none;
}
#subnavigation .level-2 {
	display: none;
}
/*
#subnavigation .level-2 li {
	padding: 0.4em 1em;
	border-top: 1px dotted #000;
	font-weight: 400;
	background: #7db9e8;
	cursor: pointer;
}

#subnavigation .level-2 li:hover {
	background: #A2C8E5;
}*/

/************* Content ***************/

#content {
	margin-left: 16em;
	
}

#bodysection {

}

/************* Productlist ***************/

.product-list {
}

.product {
	width: 12em;
	height: 12em;
	float: left;
	overflow: hidden;
	/*border: 1px solid black;*/
	box-sizing: border-box;
	box-shadow: 3px 3px 10px 3px #CFCFCF;
    margin: 0 20px 20px 0;
}


.productinfo {
	height: 20%;
	background-color: #E8E8E8;
	padding: 0.45em;
}

.product a {
	color: #4A4A4A;
}

.productinfo .name {
	font-size: 14px;
}


.productinfo .location {
	font-size: 12px;
}

.product img {
	height: 80%
}

/************* Product Upload ***************/

.product-upload {
	padding: 3em;
}
