/**** Imports (Fonts, etc.) ****/
@import url(http://fonts.googleapis.com/css?family=Condiment|Droid+Sans:400,700|Roboto:400italic,700italic,700,400);

/************* General ***************/

html {

}

body {
	margin:0 0 0 0;
	font-family:Roboto, Arial;	
}

a {
	color: #4B60F0;
	text-decoration: none;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

@font-face {
  font-family: "Glyphs";
  src: url(../font/glyphicons-halflings-regular.woff) format("truetype");
}

.glyph-search:before {
	font-family: "Glyphs";
	content: "\e003";
}

.glyph-cancle:before {
	font-family: "Glyphs";
	content: "\e088";
}

.glyph-pencil:before {
	font-family: "Glyphs";
	content: "\270f";
}

.glyph-cog:before {
	font-family: "Glyphs";
	content: "\e019";
}
img {
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 1.5em;
	font-weight: 700;
	margin:0.5em 0;
	color:#4B60F0;
}


h2 {
	font-size: 1.3em;
	font-weight: 500;
	margin:0.4em 0;
	color:#4B60F0;
}

h3 {
	margin: 10px 0;
	font-size: 1.2em;
}

h4 {
	margin: 5px 0;
	font-size: 1.1em;
}

.invisible {
	display: none;
}

/************* General Form ***************/
form .input-wrapper {
	width: 100%;
	margin-bottom: 1em;
}

#map-canvas {
	width: 80%;
	height: 200px;
	margin-bottom: 1em;
}

form input, form select, form textarea {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 80%;
	height: 3em;
}

form label, form input, form select {
    display: inline-block;
}

form select, form textarea {
	height: 7em;
}



form label {
	width: 100%;
	vertical-align: top;
	padding: 0.7em 0.7em 0.7em 0;
}

.button, .singleButton {
	color:#fff;
	background:#f08a4a;
	border:none;
	width:39.2%;
}

.button {
	margin-left:51%;
}

.formLeft, .formRight {
	float:left;
	width:49%;
	margin-right:2%;
}

.formRight {
	margin:0;
}

.product-upload + .product-list {
	display:none;
}

/************* SiteHeader ***************/

#header {
	width: 100%;
	box-shadow:0 0 5px 2px #c0c0c0;
	height:120px;
}

.logo {
	display: inline-block;
	margin: 43px 0 0 2%;
	float: left;
}

.logo a {
	font-family: Condiment, Arial;
	font-size: 3em;
	transform: rotate(-30deg);
	display:inline-block;
	color:#f08a4a;
}


.dynamic {
	margin-left: 20%;
	position: relative;
}

.search {
	width: 80%;
	float: left;
	margin-top:30px;
}

.searchbutton {
	left: -2em;
	top: 0.2em;
	position: relative;
	cursor: pointer;
}

.searchfield {
	margin: 0 0 0 10%;
	width: 80%;
	height: 3em;	
}

.searchTypeToggle {
	width: 100px;
	position: absolute;
	margin: 0;
	margin-top: 30px;
	height: 3em;
}

.navigation {
	font-size:30px;
	float: right;
	margin-top:35px;
	margin-right:5%;
}

.navigation a {
	color:#f08a4a;
}

.navigation ul {

}

.navigation li {
	
}

#header.fixed {
	background-color:#fff;
	height:60px;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}

#header.fixed .logo {
	margin-top:23px;
}

#header.fixed .search {
	margin-top:10px;
}

#header.fixed .navigation {
	margin-top:15px;
}

#header.fixed .logo a {
	font-size:3em;
	transform: none;
}

#header.fixed + div {
	margin-top:70px;
}

/************* Subnavigation ***************/

#subnavigation {
	width: 25%;
	float: left;
	color:#555;
	min-height:1px;
}

#subnavigation > span {
	line-height:3em;
	font-size:1.1em;
	padding:0 0 0 10px;
	font-weight:bold;
	color:#4B60F0;
}

#subnavigation ul {
	border-top: 1px solid #ddd;
}

#subnavigation ul li {
	border-bottom: 1px solid #ddd;
	line-height:3em;	
	font-weight: 700;
	cursor: pointer;
}

#subnavigation ul li span {
	line-height:3em;
	padding-left:10%;
	display:inline-block;
	width:90%;
}

#subnavigation ul li li {
	margin-left:10%;
	font-weight:normal;
}

#subnavigation ul li li:last-child {
	border:none;
}
#subnavigation .level-2 {
	display: none;
}
/*
#subnavigation .level-2 li {
	padding: 0.4em 1em;
	border-top: 1px dotted #000;
	font-weight: 400;
	background: #7db9e8;
	cursor: pointer;
}

#subnavigation .level-2 li:hover {
	background: #A2C8E5;
}*/

/************* Content ***************/

#content {
	margin-left: 2%;
	float: left;
	width: 73%;
}

#bodysection {
	padding:1em 0 0 0;
}

/************* Productlist ***************/

.product-list {
}

.product, .exchange, .exchangeSelection {
	width: 19.2%;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 1% 20px 0%;
	border: 1px solid #ddd;
	border-bottom:none;
	box-shadow:0px 9px 10px -6px #f08a4a;
	cursor: pointer;
	position: relative;
}

.exchangeSelection {
	width: 49%;
	margin-right:2%;
}


.exchangeSelection.selected {
	border:1px solid #4B60F0;
}

.exchangeSelection:nth-child(2n) {
	margin-right:0;
}

.product:nth-child(5n), .exchange:nth-child(5n) {
	margin-right:0;
	border-right:none;
}

.productinfo, .exchangeinfo {
	height: 20%;
	padding: 0.45em 0.45em 2em;
	background-color:#f08a4a;
	color:#fff;
}

.product a {
	color: #4A4A4A;
}

.productinfo .name {
	font-size: 14px;
}


.productinfo .location {
	font-size: 12px;
}

.product img {
	max-width:100%;
}

.product .littleIcons {
	position: absolute;
	right: 0;
	padding: 0.2em;
	font-size: 1.6em;
}

.productImage, .exchangeImage {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
} 

/************* Product Upload ***************/

.product-upload {

}

.smaller-input {
	height: 2em;
	padding: 0;
}

#input-Category-Submit {
	border: 1px solid black;
	width: 80%;
	padding: 1.2em;
}

form .subButton {
	margin-left: 0;
}

@media only screen and (max-width: 1024px) {
	.product, .product:nth-child(5n) {
		width:24%;
	}
}

@media only screen and (max-width: 768px) {
	#subnavigation {
		width: 95%;
		float:none;
		position:relative;
		margin:0 auto;
	}
	
	#subnavigation > span {
		padding:0;
	}
	
	#subnavigation > ul {
		position:absolute;
		top:3em;
		display:none;
		box-shadow:0px 0px 3px 3px #ddd;
		background-color:#fff;
		width:50%;
	}
	
	#subnavigation:hover ul {
		display:block;
	}
	
	#content {
		width:95%;
		margin:0 auto;
		float:none;
	}
}


/************* Product Detail ***************/

.product-detail .imageContainer {
	width: 80%;
		
}


.product-detail .description {
	padding: 1em;
}

.product-detail .categorieList {
	list-style-type: circle;
	padding-left: 2em;
}

.product-detail h1 {
	margin-bottom: 1em;
	font-size: 2.5em;
}

.product-detail h2 {
	margin: 1em 0;
	font-size: 2em;
}

@media only screen and (max-width: 640px) {
	#header {
		height:100px;
	}
	
	#header .logo a {
		font-size:2em;
	}
	
	#header .dynamic {
		margin-left:10%;
	}
	
	#header .dynamic .navigation {
		display:none;
	}
	
	#header.fixed .logo a {
		font-size:2em;
	}
	
	.product {
		width:48%;
	}	
}

@media only screen and (max-width: 480px) {
	.product {
		width:98%;
		margin-right:auto;
	}
	
	.formLeft, .formRight {
		width:100%;
		float:none;
	}
	
	form .input-wrapper {
		min-height:0;
	}
	
	form input, form select, form textarea {
		width:90%;
	}
}